<div class="booyah-box col-10 offset-1">
<h1>WELCOME TO PIXSTAR</h1>
  <br/>
  <p> 
    Pixstar is a web app dedicated to celebrating the real-world locations that inspired their Pixar-Universe doppelgängers.
  </p>
</div>
